html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}




/*register form animation*/

.register-form, .login-form{
    position: relative;
    border-radius: 10px;
}

.register-form::before, .register-form::after {
    content: "";
    position: absolute;
    width: 101%;
    height: 101%;
    top: 50%;
    left: 50%;
    background-image: conic-gradient(#ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    z-index: -1;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

.register-form::before {
    filter: blur(10px);
    opacity: 0.5;
}



/* ------------------------   */


/*login form animation*/
@property --before-angle{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
@property --after-angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: -180deg;
}

.login-form::before, .login-form::after {
    content: "";
    position: absolute;
    width: 102%;
    height: 102%;
    top: 50%;
    left: 50%;    
    animation: border-run 6s infinite linear;
    z-index: -1;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}
.login-form::before {
    background-image: conic-gradient(from var(--before-angle), transparent 80%, #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
}
.login-form::after {
    background-image: conic-gradient(from var(--after-angle), transparent 80%, #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    /*animation-delay: 3s;*/
    /*opacity: 0;*/
}

@keyframes border-run {
    from {
        /*opacity: 1;*/
        --before-angle: 0deg;
        --after-angle: -180deg;
    }

    to {
        /*opacity: 1;*/
        --before-angle: 360deg;
        --after-angle: 180deg;
    }
}


@media (max-width: 576px) {
    .card {
        width: 100%;
    }
}


@media (max-width: 767px) {
    .hide-on-mobile {
        display: none;
    }

    html {
        font-size: 12px;
    }
    .row {
        display: flex;
        gap: 15px;
    }
   
}

@media (min-width: 768px) {
    /*.hide-on-mobile {
        display: block;
    }*/
    .row {
        display: flex;
        align-items: stretch;
    }
    .feature-box {
        min-height: 315px;
    }

    .skills .card {
        min-height: 230px;
    }
}